<title>Edit Client Bill</title>
<div class="middle">
<h1 class="h1-basic">Edit Bill</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/clients/<%="#{params[:id]}"%>'">Back</button>
