<title>Bill</title>
<div class="middle">
<h1 class="h1-basic">Bill</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Sum</th>
    <th>Date opened</th>
    <th>Currency</th>
  </tr>
  <% @client_bill.each do |client_bill| %>
    <tr>
      <td><%= client_bill.id %></td>
      <td><%= client_bill.sum %></td>
      <td><%= client_bill.created_at %></td>
      <td><%= Currency.find(client_bill.currency_id).name %></td>
      <% if client_bill.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_bill.client_id}"%>/bills'">Back</button>
          <button class="button green" onclick="location.href='/client_bills/<%="#{client_bill.id}"%>/new_transaction'">New transaction</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_bill.client_id}"%>/archive_bills'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>



  <h1 class="h1-basic">Current Transactions</h1>
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @bill_operation.each do |bill_operation| %>
    <tr>
      <td><%= bill_operation.sum %></td>
      <td><%= bill_operation.created_at %></td>
    <% end %>
</table>
</div>
