<%= form_for @client_credit do |f| %>
   <% if @client_credit.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client_credit.errors.count, "error") %> prohibited
        this client credit from being saved:
      </h2>
      <ul>
        <% @client_credit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>

    <% credit = Credit.all %>
    <% if !credit.empty?%>

    <div>
        <div class="label">Type of credit:</div>
        <div class="field">
            <%= f.select(:credit_id) do %>
              <% credit.each do |c| -%>
                <%= content_tag(:option, c[:name], value: c[:id]) %>
              <% end %>
            <% end %>
        </div>
    </div>
    <% end %>

    <div>
        <div class="label">Sum:</div>
        <div class="field">
            <%= f.text_field :sum, placeholder: "Sum" %>
        </div>
    </div>

    <input type='hidden' name='client_id' value='<%= params[:id] %>'>

  <p>
    <%= f.submit %>
  </p>
<% end %>
