<title>Credit</title>
<div class="middle">
<h1 class="h1-basic">Credit</h1>
<table>
  <tr>
    <th>Credit ID</th>
    <th>Credit Type</th>
    <th>Sum</th>
    <th>Date opened</th>
    <th>Currency</th>
    <th>Rate</th>
  </tr>
  <% @client_credit.each do |client_credit| %>
    <tr>
      <td><%= client_credit.id %></td>
      <td><%= Credit.find(client_credit.credit_id).name %></td>
      <td><%= client_credit.sum %></td>
      <td><%= client_credit.created_at %></td>
      <td><%= Currency.find(Credit.find(client_credit.credit_id).currency_id).name %></td>
      <td><%= Credit.find(client_credit.credit_id).rate %></td>
      <% if client_credit.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_credit.client_id}"%>/credits'">Back</button>
          <button class="button green" onclick="location.href='/client_credits/<%="#{client_credit.id}"%>/new_transaction'">New transaction</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_credit.client_id}"%>/archive_credits'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>



  <h1 class="h1-basic">Current Transactions</h1>
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @credit_operation.each do |credit_operation| %>
    <tr>
      <td><%= credit_operation.sum %></td>
      <td><%= credit_operation.created_at %></td>
    <% end %>
</table>
</div>
