<title>Home</title>
<body>
	<div id="content">
		<div class="slider">
			<div class="container_12">
				<div class="grid_12">

				<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
		         <div data-src='<%=image_url("1.png")%>'>
		          <div class="camera_caption fadeIn">
		              <h2>Депозиты</h2>
                      Надежные депозиты и заманчивые проценты.
		              	<p><a href="/deposits" class="button">Ознакомиться</a></p>
		          </div>
		         </div>

		        <div data-src='<%=image_url("3.jpg")%>'>
		          <div class="camera_caption fadeIn">
		              <h2>Кредиты</h2>
                      Лучшие % годовых на рынке
                      <p><a href="/credits" class="button">Ознакомиться</a></p>
		          </div>
		        </div>

		        </div>
		        </div>
	  	    </div>
		</div>
	</div>
</body>
</html>
