<title>Sign in</title>
	<div class="main-signin">
		<div class="main-signin__head">
			<p>Authorization</p>
		</div>
		<div class="main-signin__middle">
			<div class="middle__form">
				<%= form_for(:session, url: sessions_path) do |f| %>
					<input type="text" name="session[login]" placeholder="Login">
					<input type="password" name="session[password]" placeholder="Password">
		      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
					<% end %>

			</div>
		</div>
		<div class="main-signin__foot">
				<p></p>
			</div>
			</div>
		</div>
	</div>
