<title>Clients</title>
<div class="white-wrap">
  <div class="middle">
<div>
  <%= form_tag("/clients", method: :get) do %>
<input type="text" placeholder="Search..." name="q"><br/>
<button class="button blue" style="float: left;">Find</button>
<% end %>
</div>
</div>
