<title>Edit User</title>
<div class="middle">
<h1 class="h1-basic">Edit user</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/users/<%="#{params[:id]}"%>'">Back</button>
