<title>Users</title>
<div class="middle">
<h1  class="h1-basic">Users</h1>
<table>
  <tr>
    <th>Login</th>
    <th>Status</th>
    <th>Date</th>
  </tr>

  <% @user.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <% if user.status == 2 %>
        <td>Admin</td>
      <% elsif user.status == 1 %>
        <td>Manager</td>
      <% else %>
        <td>Client</td>
      <% end %>
      <td><%= user.created_at %></td>
      <% if user.status != 0 %>
        <td>
          <button class="button orange" onclick="location.href='<%=edit_user_path(user)%>'">Edit</button>
          <button class="button blue" onclick="location.href='<%=user_path(user)%>'">Show</button>
          <%= link_to "Delete", user_path(user), class:"button red", method: :delete, data: { confirm: 'Are you sure?' }, style: 'font-size: 11px !important;' %>
        </td>
      <% else %>
        <td>
          <button class="button orange" onclick="location.href='<%=edit_client_path(Client.find(user.client_id))%>'">Edit</button>
          <button class="button blue" onclick="location.href='<%=client_path(Client.find(user.client_id))%>'">Show</button>
        </td>
        <% end %>
      <td width='10'></td>
    </tr>
  <% end %>
</table>
<button class="button green" style="float: left" onclick="location.href='<%= new_user_path %>'">New manager</button>
</div>
