<title>Add Manager</title>
<div class="middle">
<h1  class="h1-basic">New manager</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/users'">Back</button>
