<title>Archive Bills</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client's bills archive</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Bill Type</th>
    <th>Sum</th>
    <th>Date archived</th>
  </tr>


  <% @archive_client_bill.each do |archive_client_bill| %>
    <tr>
      <td><%= archive_client_bill.id %></td>
      <td><%= Bill.find(archive_client_bill.bill_id).name %></td>
      <td><%= archive_client_bill.sum %></td>
      <td><%= archive_client_bill.updated_at %></td>
      <td><button class="button blue" onclick="location.href='<%=client_bill_path(archive_client_bill)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
