<title>Bill Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Bill Transactions</h1>
  <table>
  <tr>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @bill_transaction.each do |bill_transaction| %>
    <tr>
      <td><%= bill_transaction.client_deposit_id %></td>
      <td><%= bill_transaction.sum %></td>
      <td><%= bill_transaction.created_at %></td>
  </tr>
  <% end %>

</table>
</div>
