<title>Client Bills</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client's bills</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Currency</th>
    <th>Sum</th>
    <th>Date opened</th>
  </tr>



  <% @client_bill.each do |client_bill| %>
    <tr>
      <td><%= client_bill.id %></td>
      <td><%= Currency.find(client_bill.currency_id).name %></td>
      <td><%= client_bill.sum %></td>
      <td><%= client_bill.created_at %></td>
      <td><% if is_manager? %> <button class="button red" onclick="location.href='/client_bills/<%="#{client_bill.id}"%>/to_archive'">In archive</button>
      <button class="button orange" onclick="location.href='<%=edit_client_bill_path(client_bill)%>'">Edit</button>
          <% end %>
      <button class="button blue" onclick="location.href='<%=client_bill_path(client_bill)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
