<title>Client Credits</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client's credits</h1>
<table>
  <tr>
    <th>Credit ID</th>
    <th>Credit Type</th>
    <th>Sum</th>
    <th>Date opened</th>
  </tr>



  <% @client_credit.each do |client_credit| %>
    <tr>
      <td><%= client_credit.id %></td>
      <td><%= Credit.find(client_credit.credit_id).name %></td>
      <td><%= client_credit.sum %></td>
      <td><%= client_credit.created_at %></td>
      <td><% if is_manager? %> <button class="button red" onclick="location.href='/client_credits/<%="#{client_credit.id}"%>/to_archive'">In archive</button>
      <button class="button orange" onclick="location.href='<%=edit_client_credit_path(client_credit)%>'">Edit</button>
          <% end %>
      <button class="button blue" onclick="location.href='<%=client_credit_path(client_credit)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
