<title>Credit Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Credit Transactions</h1>
  <table>
  <tr>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @credit_transaction.each do |credit_transaction| %>
    <tr>
      <td><%= credit_transaction.client_deposit_id %></td>
      <td><%= credit_transaction.sum %></td>
      <td><%= credit_transaction.created_at %></td>
  </tr>
  <% end %>

</table>
</div>
</div>
