<title>Client Deposits</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client's deposits</h1>
<table>
  <tr>
    <th>Deposit ID</th>
    <th>Deposit Type</th>
    <th>Sum</th>
    <th>Date opened</th>
  </tr>


  <% @client_deposit.each do |client_deposit| %>
    <tr>
      <td><%= client_deposit.id %></td>
      <td><%= Deposit.find(client_deposit.deposit_id).name %></td>
      <td><%= client_deposit.sum %></td>
      <td><%= client_deposit.created_at %></td>
      <td><% if is_manager? %> <button class="button red" onclick="location.href='/client_deposits/<%="#{client_deposit.id}"%>/to_archive'">In archive</button>
      <button class="button orange" onclick="location.href='<%=edit_client_deposit_path(client_deposit)%>'">Edit</button>
          <% end %>
      <button class="button blue" onclick="location.href='<%=client_deposit_path(client_deposit)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
