<title>Edit Client</title>
<h1 class="h1-basic">Edit client</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/clients/<%="#{params[:id]}"%>'">Back</button>
