<title>Add Client</title>
<div class="middle">
<h1 class="h1-basic">New client</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/search'">Back</button>
