<title>Add Client Bill</title>
<div class="middle">
<h1 class="h1-basic">New client bill</h1>
<%= render "client_bills/form" %>
<button class="button orange" style="float: left" onclick="location.href='/clients/<%="#{params[:id]}"%>'">Back</button>
