<title>Add Client Deposit</title>
<div class="middle">
<h1 class="h1-basic">New client deposit</h1>
<%= render "client_deposits/form" %>
<button class="button orange" style="float: left" onclick="location.href='/clients/<%="#{params[:id]}"%>'">Back</button>
