<title>Add Client Credit</title>
<div class="middle">
<h1 class="h1-basic">New client credit</h1>
<%= render "client_credits/form" %>
<button class="button orange" style="float: left" onclick="location.href='/clients/<%="#{params[:id]}"%>'">Back</button>
