<title>Profile</title>
<%= render "layouts/client_menu" %>
<div class="middle">
<p>
  <strong>Full Name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>
<p>

<p>
  <strong>Passport:</strong>
  <%= @client.passport %>
</p>

<p>
  <strong>ID Number:</strong>
  <%= @client.id_number %>
</p><p>
  <strong>E-mail:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>
</div>
