<title>Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Transactions</h1>
  <table>
  </tr>
  <tbody>
  <tr>
    <th>Тип Услуги</th>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @transaction.each do |transaction| %>
    <tr>
      <% if transaction[:client_deposit_id] != nil %>
      <td>Депозит</td>
      <td><%= transaction[:client_deposit_id] %></td>
      <% elsif transaction[:client_credit_id] != nil %>
      <td>Кредит</td>
      <td><%= transaction[:client_credit_id] %></td>
      <% else %>
      <td>Счет</td>
      <td><%= transaction[:client_bill_id] %></td>
      <% end %>
      <td><%= transaction.sum %></td>
      <td><%= transaction.created_at %></td>
    <% end %>
</table>
