<%= form_for @credit do |f| %>
  <% if @credit.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@credit.errors.count, "error") %> prohibited
       this client from being saved:
     </h2>
     <ul>
       <% @credit.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<div>

   <div>
       <div class="label">Name:</div>
       <div class="field">
           <%= f.text_field :name, placeholder: "Name" %>
       </div>
   </div>

   <% currency = Currency.all %>
   <div>
       <div class="label">Currency:</div>
       <div class="field">
           <%= f.select(:currency_id) do %>
             <% currency.each do |c| -%>
               <%= content_tag(:option, c[:name] + " " + c[:symbol], value: c[:id]) %>
             <% end %>
           <% end %>
       </div>
   </div>

   <div>
       <div class="label">Term:</div>
       <div class="field">
           <%= f.text_field :term, placeholder: "Term" %>
       </div>
   </div>

   <div>
       <div class="label">Rate:</div>
       <div class="field">
           <%= f.text_field :rate, placeholder: "Rate" %>
       </div>
   </div>

   <div>
       <div class="label">Max sum:</div>
       <div class="field">
           <%= f.text_field :max_sum, placeholder: "Max sum" %>
       </div>
   </div>

   <div>
       <div class="label">Penalty:</div>
       <div class="field">
           <%= f.text_field :penalty, placeholder: "Penalty" %>
       </div>
   </div>


 <p>
   <%= f.submit %>
 </p>
<% end %>
