<title>Credits</title>
<div class="white-wrap">
  <div class="middle-offers">
  <h1 class="h1-basic">Credits</h1>
  <table>
    <tr>
      <th>Credit ID</th>
      <th>Credit name</th>
      <th>Currency</th>
      <th>Term</th>
      <th>Rate</th>
      <th>Max sum</th>
      <th>Penalty</th>
    </tr>
  <% @credit.each do |credit| %>
    <tr>
      <td><%= credit.id %></td>
      <td><%= credit.name %></td>
      <td><%= Currency.find(credit.currency_id).name %></td>
      <td><%= credit.term %></td>
      <td><%= credit.rate %></td>
      <td><%= credit.max_sum %></td>
      <td><%= credit.penalty %></td>
      <% if is_manager? %>
        <td>
          <%= link_to "Delete", credit_path(credit), class:"button red", method: :delete, data: { confirm: 'Are you sure?' }, style: 'font-size: 13px !important;' %>
          <%= link_to "Edit", edit_credit_path(credit), class:"button orange", style: 'font-size: 13px !important;' %>
        </td>
      <% end %>
    </tr>
    <% end %>
</table>
<% if is_manager? %>
  <button class="button green" style="float: left" onclick="location.href='<%=new_credit_path%>'">New credit</button>
<% end %>
</div>
</div>
