<title>Add Credit</title>
<div class="middle">
<h1 class="h1-basic">New credit</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/credits'">Back</button>
