<%= form_for @deposit do |f| %>
  <% if @deposit.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@deposit.errors.count, "error") %> prohibited
       this client from being saved:
     </h2>
     <ul>
       <% @deposit.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<div>
   <div></div>

   <div>
       <div class="label">Name:</div>
       <div class="field">
           <%= f.text_field :name, placeholder: "Name" %>
       </div>
   </div>

   <% currency = Currency.all %>
   <div>
       <div class="label">Currency:</div>
       <div class="field">
     <%= f.select(:currency_id) do %>
       <% currency.each do |c| -%>
         <%= content_tag(:option, c[:name] + " " + c[:symbol], value: c[:id]) %>
       <% end %>
     <% end %>
       </div>
   </div>

   <div>
       <div class="label">Term:</div>
       <div class="field">
           <%= f.text_field :term, placeholder: "Term" %>
       </div>
   </div>

   <div>
       <div class="label">Rate:</div>
       <div class="field">
           <%= f.text_field :rate, placeholder: "Rate" %>
       </div>
   </div>

   <div>
       <div class="label">Widthdrawal:</div>
       <div class="field">
     <%= f.select(:widthdrawal) do %>
       <% [['Yes', true], ['No', false]].each do |c| -%>
         <%= content_tag(:option, c.first, value: c.last) %>
       <% end %>
     <% end %>
       </div>
   </div>

   <div>
       <div class="label">Refill:</div>
       <div class="field">
     <%= f.select(:refill) do %>
       <% [['Yes', true], ['No', false]].each do |c| -%>
         <%= content_tag(:option, c.first, value: c.last) %>
       <% end %>
     <% end %>
       </div>
   </div>

 <p>
   <%= f.submit %>
 </p>
<% end %>
