<title>Edit Deposit</title>
<div class="middle">
<h1 class="h1-basic">Edit deposit</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/deposits'">Back</button>
