<title>Deposits</title>
<div class="white-wrap">
  <div class="middle-offers">
  <h1 class="h1-basic">Deposits</h1>
  <table>
    <tr>
      <th>Deposit ID</th>
      <th>Deposit name</th>
      <th>Currency</th>
      <th>Term</th>
      <th>Rate</th>
      <th>Widthdrawal</th>
      <th>Refill</th>
    </tr>
  <% @deposit.each do |deposit| %>
    <tr>
      <td><%= deposit.id %></td>
      <td><%= deposit.name %></td>
      <td><%= Currency.find(deposit.currency_id).name %></td>
      <td><%= deposit.term %></td>
      <td><%= deposit.rate %></td>
      <td><%= deposit.widthdrawal %></td>
      <td><%= deposit.refill %></td>
      <% if is_manager? %>
        <td>
          <%= link_to "Delete", deposit_path(deposit), class:"button red", method: :delete, data: { confirm: 'Are you sure?' }, style: 'font-size: 13px !important;' %>
          <%= link_to "Edit", edit_deposit_path(deposit), class:"button orange", style: 'font-size: 13px !important;' %>
        </td>
      <% end %>
    </tr>
    <% end %>
</table>
<% if is_manager? %>
  <button class="button green" style="float: left" onclick="location.href='<%=new_deposit_path%>'">New deposit</button>
<% end %>
</div>
</div>
