<title>Add Deposit</title>
<div class="middle">
<h1 class="h1-basic">New deposit</h1>
<%= render 'form' %>
<button class="button orange" style="float: left" onclick="location.href='/deposits'">Back</button>
