<title>Add Transaction</title>
<%= render "layouts/transaction_form" %>
<button class="button orange" style="float: left" onclick="location.href='/client_deposits/<%="#{params[:id]}"%>'">Back</button>
