<title>Deposit</title>
<div class="middle">
<h1 class="h1-basic">Deposit</h1>
<table>
  <tr>
    <th>Deposit ID</th>
    <th>Deposit Type</th>
    <th>Sum</th>
    <th>Date opened</th>
    <th>Currency</th>
    <th>Rate</th>
  </tr>
  <% @client_deposit.each do |client_deposit| %>
    <tr>
      <td><%= client_deposit.id %></td>
      <td><%= Deposit.find(client_deposit.deposit_id).name %></td>
      <td><%= client_deposit.sum %></td>
      <td><%= client_deposit.created_at %></td>
      <td><%= Currency.find(Deposit.find(client_deposit.deposit_id).currency_id).name %></td>
      <td><%= Deposit.find(client_deposit.deposit_id).rate %></td>
      <% if client_deposit.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_deposit.client_id}"%>/deposits'">Back</button>
          <button class="button green" onclick="location.href='/client_deposits/<%="#{client_deposit.id}"%>/new_transaction'">New transaction</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_deposit.client_id}"%>/archive_deposits'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>



  <h1 class="h1-basic">Current Transactions</h1>
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @deposit_operation.each do |deposit_operation| %>
    <tr>
      <td><%= deposit_operation.sum %></td>
      <td><%= deposit_operation.created_at %></td>
    <% end %>
</table>
</div>
